# -*- shell -*-
# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

# Add sops utility function
use_sops() {
  local path="${1:-$PWD/secrets/secrets.yaml}"
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

# Reload if any of these files change
watch_file ./nix/shell.nix .envrc.local flake.nix

# Activate flake
use flake

# load secrets from sops
# shellcheck disable=SC3010
[[ -f ./secrets/secrets.yaml ]] && use sops

# allow local .envrc overrides
# shellcheck disable=SC3010
[[ -f .envrc.local ]] && source_env .envrc.local
