# Add sops utility function
use_sops() {
  local path=${1:-$PWD/secrets/secrets.yaml}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

# Reload if any of these files change
watch_file ./nix/shell.nix .envrc.local flake.nix

# Activate flake
use flake

# load secrets from sops
[[ -f ./secrets/secrets.yaml ]] && use sops

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local