name: Foundry Tests
on:
  workflow_dispatch:
  push:
    branches: [main, develop]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
env:
  FOUNDRY_PROFILE: ci
  RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
  ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
jobs:
  check:
    strategy:
      fail-fast: true
    name: Forge Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Nix
        uses: cachix/install-nix-action@v20
      - name: Execute direnv
        uses: HatsuneMiku3939/direnv-action@v1
      - name: Check formatting
        run: forge fmt --check
      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build
      - name: Run Forge tests
        run: |
          forge test --fork-url "$RPC_MAINNET" --etherscan-api-key $ETHERSCAN_API_KEY -vvv
        id: test
